# Capstone 2: A/B Testing

##Dataset Sources: 
### Sexual Violence in Armed Conflict (SVAC) dataset measures reports of the conflict-related sexual violence committed by armed actors during the years 1989-2015 http://www.sexualviolencedata.org/dataset/
###  https://guides.ucf.edu/war/wardata
###   YRS 1998-2008: https://www.prio.org/Data/Armed-Conflict/Conflict-Site/
### Download Political Instability Task Force Worldwide Atrocities Dataset, January 2016 to February 2020 (.zip) -- less than 10 cases for Yemen
### University of MD, Center for International Development & Conflict Management:  https://www.dropbox.com/sh/g30wur1u0g8bppt/AAA01uvF4hEwYs8OU11wtnbea?dl=0

In [23]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### df = pd.read_excel('grokonez.xlsx')  # parameter (sheetname='sheet_name') is optional
### df.to_csv('grokonez.csv', index=False)  # index=True to write row index

### Data Key: http://www.sexualviolencedata.org/wp-content/uploads/2019/10/SVAC-2.0-Coding-Manual-FINAL.pdf

### Background & Variables: 
SAMPLE DURING ACTIVE CONFLICT YEARS:
Syria cases: (2485 - 2474) + (9206-9199) + (9246-9239)= 11+7+7=25
Yemen cases: 625-594= 31
The SVAC Dataset covers conflict-related sexual violence committed by the following types of
armed conflict actors: government/state military, pro-government militias, and rebel/insurgent
forces between 1989-2009 (SVAC 1.0), and government/state military and rebel/insurgent forces
for 2010-2015 (SVAC 2.0). We include only sexual violence by armed groups against individuals
outside their own organization.

All actors listed in the SVAC 2.0 Dataset are involved in state-based conflicts as defined by the
UCDP/PRIO Armed Conflict Database. Peacekeeper and civilian perpetrators are not included as
actors in the dataset. We also do not include non-state actors (both rebel groups and PGMs)
involved in violence that is not part of a conflict with the government.

The original SVAC Dataset covered armed conflict active in the years 1989-2009, as defined by
the UCDP/PRIO Armed Conflict Database. The SVAC 2.0 update adds the years 2010-2015.
Therefore, the SVAC 2.0 Dataset includes all conflicts active in the years 1989-2015. The
additional six-year period includes 92 conflicts in 49 countries that were either active or within five
years of cessation. We collected data for all years of active conflict (defined by 25 battle deaths or
more per year) and for the five years post-conflict. Beyond this post-conflict time period,
“peacetime” sexual violence is outside the scope of the project. We also code “interim” years; see
definition of this variable below. 

Variables
For compatibility and ease of integration with widely used existing datasets, we include a number
of general variables on region, country, year, actor ID, type of actor, and conflict ID mostly from
the UCDP/PRIO data.
We use a monadic conflict-actor-year data structure; we rejected a dyadic structure because many
of the victims of sexual violence in armed conflicts are civilians, which does not lend itself easily
to a dyadic logic. By including variables with dyad ID and conflict ID, however, analysts may
create a dyadic structure. 

Sexual Violence**
Following the definition used by the International Criminal Court (ICC)3, we use a definition of
crimes of sexual violence which includes (1) rape,(2) sexual slavery,(3) forced prostitution,(4)
forced pregnancy, and (5) forced sterilization/abortion. Following Elisabeth Wood (2009), we
also include (6) sexual mutilation, and (7) sexual torture.10 This definition does not exclude the
existence of female perpetrators and male victims. We focus on behaviors that involve direct force
and/or physical violence. We exclude acts that do not go beyond verbal sexual harassment and
abuse, including sexualized insults or verbal humiliation. 

actor_type 
SVAC A coding for the type of actor. More specifically, we employ
the following scheme:
1: State or incumbent government (in UCDP dyadic, this actor type is called 'Side A')
2: State A2 (in UCDP dyadic, this actor type is called 'Side A2nd'). These are states supporting the state (1) involved with conflict on its territory. 
3: Rebel (in UCDP dyadic, the actor type is called 'Side B')
4: State supporting ‘Side B’ in other country (in UCDP dyadic, this actor type is called 'SideB2nd').
5: Second state in interstate conflict (in UCDP dyadic, this actor is called ‘Side B’).
6: Pro-government militias (PGMs)

type 
UCDP/PRIO Nominal variable with three categories:
2: Interstate Conflict
3: Intrastate Conflict
4: Internationalized Internal Armed Conflict

~Syria is both types of conflict: Government & Territory
~Yemen is both types of conflict: Government & Territory

**Sexual Violence Variables
The sexual violence variables aim to capture data on two dimensions, prevalence and form.
(1) Prevalence
The prevalence measure gives an estimate of the relative magnitude of sexual violence perpetration
was by the conflict actor in the particular year. This is coded according to an ordinal scale, adapted
from Cohen (2010; 2016) and discussed in Cohen and Nordås (2014). Note that the coding is
primarily based on the qualitative description; only secondarily do we rely on a count of estimated
incidents. The SVAC dataset cannot be used as a means to estimate the numbers of victims.
Prevalence = 3 (Massive) Sexual violence is likely related to the conflict, and:
• Sexual violence was described as “systematic” or “massive” or “innumerable”
• Actor used sexual violence as a “means of intimidation,” “instrument of control and
punishment,” “weapon,” “tactic to terrorize the population,” “terror tactic,” “tool of war,”
on a “massive scale”
Note: Absent these or similar terms, a count of 1000 or more reports of sexual violence
indicates a prevalence code of 3.
Prevalence = 2 (Numerous) Sexual violence is likely related to the conflict, but did not meet the
requirements for a 3 coding, and:
• Sexual violence was described as “widespread,” “common,” “commonplace,” “extensive,”
“frequent,” “often,” “persistent,” “recurring,” a “pattern,” a “common pattern,” or a “spree”
• Sexual violence occurred “commonly,” “frequently,” “in large numbers,” “periodically,”
“regularly,” “routinely,” “widely,” or on a “number of occasions;” there were “many” or
“numerous instances”
Note: Absent these or similar terms, a count of 25-999 reports of sexual violence indicates a
prevalence code of 2.
Prevalence = 1 (Isolated) Sexual violence is likely related to the conflict, but did not meet the
requirements for a 2 or 3 coding, and:
SVAC 2.0—November 2019 Update 10
• There were “reports,” “isolated reports,” or “there continued to be reports” of occurrences
of sexual violence
Note: Absent these or similar terms, a count of less than 25 reports of sexual violence indicates
a prevalence code of 1.
Prevalence = 0 (None) Report issued, but no mention of rape or other sexual violence related to
the conflict
Note: For example, a coder finds a report covering a country in a given year but within the report
there is no mention of rape or other sexual violence related to the conflict.
Prevalence = -99 (BOTH No Report AND No Information) No report found and no data
available from subsequent years, and consequentially no data. This code should be used as
infrequently as possible.

In [24]:
#Need to convert XLS file to CSV import pandas as pd #Users⁩/⁨mehrunisaqayyum⁩/⁨Downloads/SVAC_2.0_complete_X.1.xlsx⁩',sheet_name=None)
#df_xls.to_csv('SVAC_2.0_complete_X.1.csv'
df_xls = pd.read_excel('http://www.sexualviolencedata.org/wp-content/uploads/2019/12/SVAC_2.0_complete_X.1.xlsx') #encoding='utf-8')

#df.to_csv('SVAC_2.0_complete_X.1.csv', index=False)

In [16]:
df_xls

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form
0,1989,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
1,1990,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2,1991,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
3,1992,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
4,1993,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9277,2015,298,13694,Libya,620,111.0,1,3,1,4,...,0,0,0,1,0,0,0.0,0.0,1.0,7
9278,2015,13721,13721,Algeria,615,109.0,1,3,1,4,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9279,2015,13721,13721,Jund al-Khilafah,5870,5870.0,3,3,1,4,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9280,2015,13902,13902,IS,1076,234.0,3,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9281,2015,13902,13902,Turkey,640,115.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99

In [90]:
df.head()

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form
0,1989,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
1,1990,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2,1991,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
3,1992,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
4,1993,6,205,Iran,630,114.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99

##HYPOTHESIS: Hypothesis: Countries inhabiting more of this type of actor "" will have higher rates of Form or prevalance of sexual violence against women during government and territorial conflict. #Create a new index: a column that combines both columns (both violence and type). What other possible weak points?  #There's a statistical diff between these two countries with more actors than less actors. #look at population per citizen. Proportion of cases larger than the average. Count of the number of cases. Proportion of cases/population. Cases per person for Syria: is it significantly larger than cases per person in the average of all other cases. Focus across 3 years. 

Null: There will be no difference in Test A (Syria in state) and Test B (rest of world) in rates of Form or prevalance of sexual violence against women during government and territorial conflict.

In [91]:
#Need to change the list into a Pandas dataframe: https://stackoverflow.com/questions/45489205/why-is-df-head-not-working-in-python
df = pd.DataFrame(df_xls)

In [92]:
df.shape

(9282, 22)

In [104]:
index=df.index
index

RangeIndex(start=0, stop=9282, step=1)

In [105]:
columns=df.columns
columns

Index(['year', 'conflictid_old', 'conflictid_new', 'actor', 'actorid',
       'actorid_new', 'actor_type', 'type', 'incomp', 'region', 'location',
       'gwnoloc', 'gwnoloc2', 'gwnoloc3', 'gwnoloc4', 'conflictyear', 'interm',
       'postc', 'state_prev', 'ai_prev', 'hrw_prev', 'form'],
      dtype='object')

In [93]:
np.median(df['actor_type'])
#Actor carrying out violence usually type '3': Rebel (in UCDP dyadic, the actor type is called 'Side B')

3.0

In [94]:
import statistics
statistics.mode(df['actor_type'])
#Actor carrying out violence usually type '3': Rebel (in UCDP dyadic, the actor type is called 'Side B')

3

In [95]:
df.describe()

,year,conflictid_old,conflictid_new,actorid,actorid_new,actor_type,type,incomp,region,gwnoloc,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev
count,9282.000000,9282.000000,9282.000000,9282.000000,9263.000000,9282.000000,9282.000000,9282.000000,9282.000000,9282.000000,9282.000000,9282.000000,9282.000000,9282.000000,9282.000000,9282.000000,9272.000000,9272.000000,9272.000000
mean,2002.067981,153.114738,825.897220,2389.854234,1927.501673,3.199526,3.340228,1.625943,3.193601,570.712346,22.216548,0.517130,0.005171,0.553760,0.080155,0.365869,-3.258412,-2.458477,-12.588654
std,7.562547,379.218092,2337.120281,2956.067713,3186.116762,1.791240,0.543304,0.490319,1.060659,214.027277,120.691644,10.157248,0.101572,0.497128,0.271548,0.481699,17.960517,15.605964,33.064896
min,1989.000000,6.000000,205.000000,2.000000,3.000000,1.000000,2.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-99.000000,-99.000000,-99.000000
25%,1996.000000,92.000000,289.000000,530.000000,97.000000,2.000000,3.000000,1.000000,3.000000,475.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2002.000000,137.000000,333.000000,1119.000000,277.000000,3.000000,3.000000,2.000000,3.000000,628.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2008.000000,193.000000,388.000000,1646.000000,785.000000,5.000000,4.000000,2.000000,4.000000,750.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,2015.000000,13902.000000,13902.000000,8185.000000,8185.000000,6.000000,4.000000,2.000000,5.000000,910.000000,811.000000,200.000000,2.000000,1.000000,1.000000,1.000000,3.000000,3.000000,3.000000

## Missing Data:
### We can see that 19 records are missing from the 'actorid' column -- we don't know which actors are unaccounted for in 19 records/rows. Also, we are missing 10 records in the last 3 columns. 


##Duplicate Data:
###We do not have duplicate columns.

In [96]:
df2 = pd.DataFrame(
    columns=[('year'[2011:2017]), 
             'actor_type',
             'location', 'type',],
    index=['Syria', 'Yemen'])
df2

           actor_type location type
Syria  NaN        NaN      NaN  NaN
Yemen  NaN        NaN      NaN  NaN

In [97]:
#built in like .sum() or .count(). For even greater possibilities you can use .aggregate(numpy_function). 
df.groupby('location').count()

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form
location,,,,,,,,,,,,,,,,,,,,,
Afghanistan,823,823,823,823,823,823,823,823,823,823,...,823,823,823,823,823,823,823,823,823,823
Algeria,156,156,156,156,156,156,156,156,156,156,...,156,156,156,156,156,156,156,156,156,156
Angola,152,152,152,152,152,152,152,152,152,152,...,152,152,152,152,152,152,152,152,152,152
"Australia, Iraq, United Kingdom, United States of America",24,24,24,24,24,24,24,24,24,24,...,24,24,24,24,24,24,24,24,24,24
Azerbaijan,76,76,76,76,76,76,76,76,76,76,...,76,76,76,76,76,76,76,76,76,76
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,34,34,34,34,34,34,34,34,34,34,...,34,34,34,34,34,34,34,34,34,34
Venezuela,12,12,12,12,12,12,12,12,12,12,...,12,12,12,12,12,12,12,12,12,12
Yemen,14,14,14,14,14,14,14,14,14,14,...,14,14,14,14,14,14,14,14,14,14
Yemen (North Yemen),32,32,32,32,32,32,32,32,32,32,...,32,32,32,32,32,32,32,32,32,32
Yugoslavia,52,52,52,52,52,52,52,52,52,52,...,52,52,52,52,52,52,52,52,52,52

In [98]:
df.groupby('location').sum()

,year,conflictid_old,conflictid_new,actorid,actorid_new,actor_type,type,incomp,region,gwnoloc,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev
location,,,,,,,,,,,,,,,,,,,
Afghanistan,1651023,113355,327275,1170040,856652.0,2245,3253,1642,2469,576100,0,0,0,638,37,147,20.0,-5337.0,-4147.0
Algeria,312371,56856,86886,528370,460572.0,549,543,310,624,95940,0,0,0,119,0,37,3.0,-389.0,-2770.0
Angola,303878,23694,53424,369895,295672.0,456,546,242,608,82080,0,0,0,73,30,49,24.0,-186.0,-681.0
"Australia, Iraq, United Kingdom, United States of America",48132,5424,10080,10482,1818.0,96,48,48,72,21600,15480,4800,48,4,0,20,0.0,3.0,2.0
Azerbaijan,152093,14828,29648,53474,13436.0,192,284,96,76,28348,0,0,0,27,4,45,-297.0,2.0,-295.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,68142,7514,14110,30406,7456.0,70,112,68,102,23936,0,0,0,8,6,20,3.0,0.0,5.0
Venezuela,23934,960,3324,10224,4560.0,24,36,24,60,1212,0,0,0,2,0,10,2.0,-198.0,-494.0
Yemen,27976,2550,5284,13669,3860.0,28,42,16,28,9492,0,0,0,4,0,10,0.0,0.0,-792.0
Yemen (North Yemen),64434,1576,34190,32503,15920.0,85,122,62,64,21696,0,0,0,31,0,1,0.0,-296.0,0.0
Yugoslavia,103890,10696,20815,420513,420513.0,312,177,52,52,17940,0,0,0,17,0,35,-98.0,0.0,0.0

In [99]:
#Country affected with sexual violence
df.groupby('location').aggregate(np.median)

,year,conflictid_old,conflictid_new,actorid,actorid_new,actor_type,type,incomp,region,gwnoloc,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev
location,,,,,,,,,,,,,,,,,,,
Afghanistan,2008.0,137.0,333.0,385.0,67.0,2.0,4.0,2.0,3.0,700.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Algeria,2002.0,191.0,386.0,1390.0,538.0,3.0,3.0,2.0,4.0,615.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Angola,1999.0,131.0,327.0,1392.0,540.0,3.0,4.0,2.0,4.0,540.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"Australia, Iraq, United Kingdom, United States of America",2005.5,226.0,420.0,422.5,72.0,5.0,2.0,2.0,3.0,900.0,645.0,200.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0
Azerbaijan,1998.0,193.0,388.0,373.0,64.0,3.0,4.0,1.0,1.0,373.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Uzbekistan,2004.0,221.0,415.0,704.0,133.0,2.0,3.0,2.0,3.0,704.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Venezuela,1994.5,80.0,277.0,852.0,380.0,2.0,3.0,2.0,5.0,101.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Yemen,1997.0,207.0,402.0,937.0,238.0,2.0,3.0,1.0,2.0,678.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,-99.0
Yemen (North Yemen),2014.5,33.0,230.0,678.0,123.0,3.0,4.0,2.0,2.0,678.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Yugoslavia,1998.0,202.0,397.0,8092.0,8092.0,6.0,3.0,1.0,1.0,345.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

### We see that there are 10 different 'actor types' and 4 different 'form' sexual violence measured.

### Need to parse out Syria subset, or 'Group A', aside from the global sample between years 2011-2015. 
Source: https://www.dunderdata.com/blog/selecting-subsets-of-data-in-pandas-part-1

In [102]:
#Will create 'X' as the subset dropping columns, rows not needed
#The global sample is 'Group B'. Need a second dataframe to organize this group A.
X=df_xls.drop(columns=['conflictid_old'])
X

,year,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,location,...,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form
0,1989,205,Iran,630,114.0,1,3,1,2,Iran,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
1,1990,205,Iran,630,114.0,1,3,1,2,Iran,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2,1991,205,Iran,630,114.0,1,3,1,2,Iran,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
3,1992,205,Iran,630,114.0,1,3,1,2,Iran,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
4,1993,205,Iran,630,114.0,1,3,1,2,Iran,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9277,2015,13694,Libya,620,111.0,1,3,1,4,Libya,...,0,0,0,1,0,0,0.0,0.0,1.0,7
9278,2015,13721,Algeria,615,109.0,1,3,1,4,Algeria,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9279,2015,13721,Jund al-Khilafah,5870,5870.0,3,3,1,4,Algeria,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9280,2015,13902,IS,1076,234.0,3,3,1,2,Turkey,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9281,2015,13902,Turkey,640,115.0,1,3,1,2,Turkey,...,0,0,0,1,0,0,0.0,0.0,0.0,-99

###Variables of interest/Metrics: 
1) 'year' = Year of conflict                                      2) 'conflictyear' = Dummy variable
3)'actor_type' = Actor carrying out violence: state (A), rebel group (B), Outside party supporting (A), Outside party supporting (B)
4)'type'= Type of conflict                                        5) 'conflictid_new' = Updated conflict data; 
6)'Location' = Country of conflict (Note: different from column where they could be an actor in another conflict)
7) 'Prevalence'= Rate of Sexual Violence, Ordinal Variable        8)'Form'= Type of Sexual Violence, Nominal Variable

##Group A-Syria vs. Group B-World

In [110]:
#Create a subset 
#Need only Syria rows, use iloc
df_Syria = df[['year','conflictid_new','actor_type','type','location','state_prev','ai_prev','hrw_prev','form']]
df_Syria

,year,conflictid_new,actor_type,type,location,state_prev,ai_prev,hrw_prev,form
0,1989,205,1,3,Iran,0.0,0.0,0.0,-99
1,1990,205,1,3,Iran,0.0,0.0,0.0,-99
2,1991,205,1,3,Iran,0.0,0.0,0.0,-99
3,1992,205,1,3,Iran,0.0,0.0,0.0,-99
4,1993,205,1,3,Iran,0.0,0.0,0.0,-99
...,...,...,...,...,...,...,...,...,...
9277,2015,13694,1,3,Libya,0.0,0.0,1.0,7
9278,2015,13721,1,3,Algeria,0.0,0.0,0.0,-99
9279,2015,13721,3,3,Algeria,0.0,0.0,0.0,-99
9280,2015,13902,3,3,Turkey,0.0,0.0,0.0,-99
9281,2015,13902,1,3,Turkey,0.0,0.0,0.0,-99

In [118]:
df_Syria.loc['2011':'2015']
#df_Syria.loc['location' = Syria]
df_Syria

,year,conflictid_new,actor_type,type,location,state_prev,ai_prev,hrw_prev,form
0,1989,205,1,3,Iran,0.0,0.0,0.0,-99
1,1990,205,1,3,Iran,0.0,0.0,0.0,-99
2,1991,205,1,3,Iran,0.0,0.0,0.0,-99
3,1992,205,1,3,Iran,0.0,0.0,0.0,-99
4,1993,205,1,3,Iran,0.0,0.0,0.0,-99
...,...,...,...,...,...,...,...,...,...
9277,2015,13694,1,3,Libya,0.0,0.0,1.0,7
9278,2015,13721,1,3,Algeria,0.0,0.0,0.0,-99
9279,2015,13721,3,3,Algeria,0.0,0.0,0.0,-99
9280,2015,13902,3,3,Turkey,0.0,0.0,0.0,-99
9281,2015,13902,1,3,Turkey,0.0,0.0,0.0,-99

In [132]:
#Select from 'year' between 2011 and 2017 AND location of Syria index
df_Syria = df[(df['year'] >= 2011) & (df['year'] <= 2017) & (df['location'] == 'Syria')]
df_Syria

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form
2472,2015,102,299,Iran,630,114.0,2,4,2,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2473,2015,102,299,Russia (Soviet Union),365,57.0,2,4,2,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2474,2011,102,299,Syria,652,118.0,1,3,2,2,...,0,0,0,1,0,0,2.0,2.0,1.0,"1, 6, 7"
2475,2012,102,299,Syria,652,118.0,1,3,2,2,...,0,0,0,1,0,0,3.0,2.0,1.0,"1, 6, 7"
2476,2013,102,299,Syria,652,118.0,1,3,2,2,...,0,0,0,1,0,0,3.0,2.0,1.0,"1, 7"
2477,2014,102,299,Syria,652,118.0,1,3,2,2,...,0,0,0,1,0,0,3.0,2.0,0.0,"1, 7"
2478,2015,102,299,Syria,652,118.0,1,4,2,2,...,0,0,0,1,0,0,3.0,2.0,2.0,"1, 7"
2479,2011,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2480,2012,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2481,2013,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2482,2014,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
2483,2015,102,299,Syrian insurgents,4456,4456.0,3,4,2,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9197,2012,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9198,2013,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9199,2014,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
9200,2015,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9201,2012,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9202,2013,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9203,2014,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,0,0,1,0,0.0,0.0,0.0,-99
9204,2015,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9237,2013,286,13604,IS,1076,234.0,3,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9238,2014,286,13604,IS,1076,234.0,3,3,1,2,...,0,0,0,1,0,0,3.0,0.0,0.0,"1, 2, 5"
9239,2015,286,13604,IS,1076,234.0,3,4,1,2,...,0,0,0,1,0,0,3.0,0.0,3.0,"1, 2, 5, 7"
9240,2015,286,13604,Iran,630,114.0,2,4,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9241,2015,286,13604,Russia (Soviet Union),365,57.0,2,4,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9242,2013,286,13604,Syria,652,118.0,1,3,1,2,...,0,0,0,1,0,0,3.0,0.0,0.0,1
9243,2014,286,13604,Syria,652,118.0,1,3,1,2,...,0,0,0,1,0,0,3.0,0.0,0.0,1
9244,2015,286,13604,Syria,652,118.0,1,4,1,2,...,0,0,0,1,0,0,3.0,0.0,0.0,1

In [ ]:
#Change 'form' values of "-99" to 0, else should be 1
def convert99to0rec(num):

In [138]:
#Create a column that combines the 2 dimensions of sexual violence: Prevalence and Form
#Need to convert 'form' to integar
int('form')

ValueError: invalid literal for int() with base 10: 'form'

In [139]:
df_Syria['sex_violence']=df['state_prev']+df['ai_prev']+df['hrw_prev'] #* df['form']
df_Syria

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form,sex_violence
2472,2015,102,299,Iran,630,114.0,2,4,2,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
2473,2015,102,299,Russia (Soviet Union),365,57.0,2,4,2,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
2474,2011,102,299,Syria,652,118.0,1,3,2,2,...,0,0,1,0,0,2.0,2.0,1.0,"1, 6, 7",5.0
2475,2012,102,299,Syria,652,118.0,1,3,2,2,...,0,0,1,0,0,3.0,2.0,1.0,"1, 6, 7",6.0
2476,2013,102,299,Syria,652,118.0,1,3,2,2,...,0,0,1,0,0,3.0,2.0,1.0,"1, 7",6.0
2477,2014,102,299,Syria,652,118.0,1,3,2,2,...,0,0,1,0,0,3.0,2.0,0.0,"1, 7",5.0
2478,2015,102,299,Syria,652,118.0,1,4,2,2,...,0,0,1,0,0,3.0,2.0,2.0,"1, 7",7.0
2479,2011,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
2480,2012,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
2481,2013,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
2482,2014,102,299,Syrian insurgents,4456,4456.0,3,3,2,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
2483,2015,102,299,Syrian insurgents,4456,4456.0,3,4,2,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9197,2012,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9198,2013,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9199,2014,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,0,1,0,0.0,0.0,0.0,-99,0.0
9200,2015,284,13042,PYD,2100,4163.0,3,3,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9201,2012,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9202,2013,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9203,2014,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,0,1,0,0.0,0.0,0.0,-99,0.0
9204,2015,284,13042,Syria,652,118.0,1,3,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9237,2013,286,13604,IS,1076,234.0,3,3,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9238,2014,286,13604,IS,1076,234.0,3,3,1,2,...,0,0,1,0,0,3.0,0.0,0.0,"1, 2, 5",3.0
9239,2015,286,13604,IS,1076,234.0,3,4,1,2,...,0,0,1,0,0,3.0,0.0,3.0,"1, 2, 5, 7",6.0
9240,2015,286,13604,Iran,630,114.0,2,4,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9241,2015,286,13604,Russia (Soviet Union),365,57.0,2,4,1,2,...,0,0,1,0,0,0.0,0.0,0.0,-99,0.0
9242,2013,286,13604,Syria,652,118.0,1,3,1,2,...,0,0,1,0,0,3.0,0.0,0.0,1,3.0
9243,2014,286,13604,Syria,652,118.0,1,3,1,2,...,0,0,1,0,0,3.0,0.0,0.0,1,3.0
9244,2015,286,13604,Syria,652,118.0,1,4,1,2,...,0,0,1,0,0,3.0,0.0,0.0,1,3.0

In [135]:
#Summary stats for Group A
df_Syria.describe()

,year,conflictid_old,conflictid_new,actorid,actorid_new,actor_type,type,incomp,region,gwnoloc,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev
count,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.000000,28.0,28.0,28.0,28.0,28.0,28.000000,28.000000,28.0,28.000000,28.000000,28.000000
mean,2013.642857,206.571429,7741.285714,1561.500000,1478.285714,2.000000,3.285714,1.428571,2.0,652.0,0.0,0.0,0.0,0.928571,0.071429,0.0,1.035714,0.357143,0.285714
std,1.311326,92.226544,6567.042645,1469.222558,1997.930408,0.942809,0.460044,0.503953,0.0,0.0,0.0,0.0,0.0,0.262265,0.262265,0.0,1.426785,0.780042,0.712697
min,2011.000000,102.000000,299.000000,365.000000,57.000000,1.000000,3.000000,1.000000,2.0,652.0,0.0,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
25%,2013.000000,102.000000,299.000000,652.000000,118.000000,1.000000,3.000000,1.000000,2.0,652.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
50%,2014.000000,284.000000,13042.000000,652.000000,118.000000,2.000000,3.000000,1.000000,2.0,652.0,0.0,0.0,0.0,1.000000,0.000000,0.0,0.000000,0.000000,0.000000
75%,2015.000000,286.000000,13604.000000,2100.000000,4163.000000,3.000000,4.000000,2.000000,2.0,652.0,0.0,0.0,0.0,1.000000,0.000000,0.0,3.000000,0.000000,0.000000
max,2015.000000,286.000000,13604.000000,4456.000000,4456.000000,3.000000,4.000000,2.000000,2.0,652.0,0.0,0.0,0.0,1.000000,1.000000,0.0,3.000000,2.000000,3.000000

In [133]:
#Group B
df_world = df[(df['year'] >= 2011) & (df['year'] <= 2017) & (df['location'] != 'Syria')]
df_world

,year,conflictid_old,conflictid_new,actor,actorid,actorid_new,actor_type,type,incomp,region,...,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev,form
69,2011,10,209,CPP,1010,169.0,3,3,2,3,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
70,2012,10,209,CPP,1010,169.0,3,3,2,3,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
71,2013,10,209,CPP,1010,169.0,3,3,2,3,...,0,0,0,1,0,0,0.0,-99.0,0.0,-99
72,2014,10,209,CPP,1010,169.0,3,3,2,3,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
73,2015,10,209,CPP,1010,169.0,3,3,2,3,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9277,2015,298,13694,Libya,620,111.0,1,3,1,4,...,0,0,0,1,0,0,0.0,0.0,1.0,7
9278,2015,13721,13721,Algeria,615,109.0,1,3,1,4,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9279,2015,13721,13721,Jund al-Khilafah,5870,5870.0,3,3,1,4,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9280,2015,13902,13902,IS,1076,234.0,3,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99
9281,2015,13902,13902,Turkey,640,115.0,1,3,1,2,...,0,0,0,1,0,0,0.0,0.0,0.0,-99

In [136]:
#Summary stats for Group B
df_world.describe()

,year,conflictid_old,conflictid_new,actorid,actorid_new,actor_type,type,incomp,region,gwnoloc,gwnoloc2,gwnoloc3,gwnoloc4,conflictyear,interm,postc,state_prev,ai_prev,hrw_prev
count,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.0,1573.0,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000,1573.000000
mean,2013.226319,224.171011,2549.064209,962.738080,464.009536,2.203433,3.541004,1.697394,3.314685,576.890019,12.322950,0.0,0.0,0.602034,0.045772,0.351558,-2.945327,-8.735537,-5.029243
std,1.433299,907.115838,4557.320969,989.553121,1042.797268,0.811378,0.533010,0.459532,0.897137,175.049048,92.796242,0.0,0.0,0.489634,0.209058,0.477608,17.237661,28.225014,21.905427
min,2011.000000,10.000000,209.000000,2.000000,3.000000,1.000000,2.000000,1.000000,1.000000,2.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,-99.000000,-99.000000,-99.000000
25%,2012.000000,113.000000,309.000000,380.000000,66.000000,2.000000,3.000000,1.000000,3.000000,437.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2013.000000,141.000000,337.000000,666.000000,122.000000,2.000000,4.000000,2.000000,3.000000,626.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2015.000000,225.000000,419.000000,1169.000000,343.000000,3.000000,4.000000,2.000000,4.000000,700.000000,0.000000,0.0,0.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,2015.000000,13902.000000,13902.000000,6712.000000,6712.000000,5.000000,4.000000,2.000000,5.000000,840.000000,811.000000,0.0,0.0,1.000000,1.000000,1.000000,3.000000,3.000000,3.000000

Group C: Yemen Case

In [134]:
#Would this be an A/A testing if I used a similar conflict zone case, like Yemen?
df_Yemen = df[(df['year'] >= 2011) & (df['year'] <= 2017) & (df['location'] == 'Yemen')]
df_Yemen

Empty DataFrame
Columns: [year, conflictid_old, conflictid_new, actor, actorid, actorid_new, actor_type, type, incomp, region, location, gwnoloc, gwnoloc2, gwnoloc3, gwnoloc4, conflictyear, interm, postc, state_prev, ai_prev, hrw_prev, form]
Index: []

[0 rows x 22 columns]

##No data provided for Yemen. Something to look at for future study.